/* grid.css; defining grids for my site*/

[class*='col-']{
	float:left;
	margin:0px;
	text-align:center;
	position:relative;
	padding: 10px;
}

/* specifies width of grid*/
.col-1of1 {
	width: 100%;
}
.col-1of2 {
	width: 75%;
}
.col-1of2-equal {
	width: 50%;
}
.col-1of3 {
	width: 24%;
}
.col-3of3 {
	width: 49%;
}
.col-1of3-equal {
	width: 33.33%;
}
.col-2of3-equal {
	width: 66.66%;
}
.col-1of4 {
	width: 25%;
}
.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* when browser hits breakpoint of 800px width, col-1of2-equal reverts back to 100% width */
@media (max-width: 780px) {
	.col-1of2 {
		width: 50%;
	}
	.col-1of2-equal {
		width: 50%;
	}
	.col-1of3 {
		width: 50%;
	}
	.col-3of3 {
		width: 50%;
	}
	.col-1of3-equal {
	width: 50%;
	}
	.col-2of3-equal {
	width: 50%;
	}
	.col-1of4 {
	width: 50%;
	}
}
@media (max-width: 600px) {
	.col-1of2 {
		width: 100%;
	}
	.col-1of2-equal {
		width: 100%;
	}
	.col-1of3 {
		width: 100%;
	}
	.col-3of3 {
		width: 100%;
	}
	.col-1of3-equal {
		width: 100%;
	}	
	.col-2of3-equal {
	width: 100%;
	}
	.col-1of4 {
	width: 100%;
	}
	.Button {
	width: 100%
	}
}
