html {
	font-size: 62.5%;
	height:100%;
	width:100%;
}


body {
	font-family: 'oswald', arial, sans-serif;
	color: black;
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	background:#FFF url(../images/websiteBG3.jpg) repeat;
}

/*------------------------------------*\
    GENERAL
\*------------------------------------*/
img {
	height: auto; 
	width: auto;
	max-width: 100%;
}
a {
	text-decoration:none;
}
p, ul, ol {
	font-size: 1.4rem;
	font-family: cabin;
	text-align: left;
	clear: both;
	margin:8px 0;
}

hr {
	display:block;
	height: 1px;
	background:#000;
	border:0px;
	margin:17px 0;
}

h1 {
	font-size: 3.2rem;
	text-align: left;
	margin:0;
}

h2 {
	font-size: 2.5rem; 
	text-align: left;
	margin:0;
}

section {
	width: 100%;
	clear:both;
	margin-bottom:20px;
}

article {
	clear:both;
	display:inline-block;
	width:100%;
	background: rgba(255,255,255, 1);
	padding:9px;
	margin-bottom:7px;
}

button {
	cursor:pointer;
}

@media (min-width: 1440px) {
.container {
	max-width: 1280px;
}
}
@media (max-width: 1439px) {
.container {
	max-width: 980px;
}
}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/
nav {
	width: 100%;
	clear:both;
	min-height:68px;
	background:#000;
}
@media (max-width: 700px) {
	nav {
	background:#000;
	text-align:center;
	min-height:110px;
}
}
nav .container {
	position:relative;
	padding:0px 20px;
	margin:0 auto;	
}
#logo {
	max-width:100px;
	height:46px;
	float:left;
	padding:6px 0px;
}
@media (max-width: 700px) {
	#logo {
		display:inline-block;
	float:none;
}
}

#nav-links {
	height:48px;
	float:right;
}
@media (max-width: 700px) {
	#nav-links {
	float:none;
	width:100%;
	display:inline-block;
	text-align:center;
}
}
.nav-button {
	float:left;
	background:#000;
	font-size:1.4rem;
	background: #000;
	color: #fff;
	margin-left:2px;
	margin-top:3px;
	padding: 20px 13px;
}
@media (max-width: 700px) {
.nav-button {
	font-size:1.3rem;
	display:inline-block;
	float:none;
	padding: 8px 4px;
}
}
.nav-button:hover {
	background:#C33;
}
.selected {
	background:#C33;
}

/*------------------------------------*\
    SECTIONS
\*------------------------------------*/

section .container {
	position:relative;
	padding:30px 20px;
	margin:0 auto;
}


/*------------------------------------*\
    MENU
\*------------------------------------*/

.menu-item
{
	width:100%;
	height:auto;
	opacity:.95;
}

.menu-item:hover
{
	opacity:1;
}

#menu-categories {
	top: 30px;
	padding-top:98px;
	width: 82px;
	margin-left:-92px;
	position:absolute;
	z-index:2;
}

.category_button {
	opacity:1;
	display:block;
	margin-bottom: 10px;
}

.category_button:hover {
	opacity:.8;
}
@media (max-width: 1200px) {
#menu-categories {
	display:none;
}
}

/*------------------------------------*\
    ORDERS
\*------------------------------------*/
.price {
	float:right;
}
	

/*------------------------------------*\
    ACCOUNT
\*------------------------------------*/

form {
	display:block;
	width:100%;
	font-size: 1.5rem;
	text-align: left;
	margin: 8px 0;
}
.Button {
	background: #000;
	border: none;
	color: white;
	border: none;
	font-size: 1.5rem;
	float:left;
	padding:10px 20px;
	margin: 10px 0;
}
.Button:hover {
	background: #C33;
}
.leftButton {
	float:left;
	margin-right:5px;
}
.rightButton {
	float:right;
	margin-left:5px;
}
.smallButton {
	background: #000;
	color:#fff;
	border: none;
	margin-left:10px;
	float:right;
}
.smallButton:hover {
	background:#C33;
}
form p{
	width:100%;
}
.input_label {
	
}
input {
	width:75%;
	display:block;
}
.quantity {
	float: left;
	margin: 20px;
}

.rating p {
	font-size:1.8rem;
}
.rating p:before {
	content: "\2606 \2606 \2606 \2606 \2606";
}
.rating p:hover:before {
	content: "\2605 \2605 \2605 \2605 \2605";
}
.altLogin {
	float: left;
	height: auto;
	width: 38px;
	margin-right:9px;
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer {
	height:70px;
	width:100%;
	clear:both;
	background: #000;
	color: white;
	text-align: center;
}
footer .container {
	position:relative;
	padding:20px 25px 0 25px;
	margin:0 auto;
}



