html {
	font-size: 62.5%;
}

body {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
}

section {
	clear:both;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 25px;
	position:relative;
}

img {
	height: auto; 
	width: auto;
	max-width: 100%;
}
a {
	text-decoration:none;
}
p, ul, ol {
	font-size: 1.5rem;
	text-align: left;
	clear: both;
}

h1 {
	font-size: 3.5rem;
	text-align: left;
}

h2 {
	font-weight: normal;
	font-size: 2.5rem; 
	text-align: left;
}

.category_button {
	opacity:.8;
	display:block;
	margin-bottom: 4px;
}
.category_button:hover {
	opacity:1;
}
.thumbnail {
	height: auto;
	position:relative;
	display: inline-block;
}
.thumbnail_overlay {
	opacity:0;
	width:100%;
	height:100%;
	position:absolute;
	color:#fff;
	text-align:center;
	background: rgba(0, 0, 0, .8);
	padding-left: 2rem;
}
.thumbnail_overlay:hover {
	opacity:1;
}

/*-------------------------------------------------------------*/


.quantity {
	float: left;
}
.addButton {
	background-color: black;
	border: none;
	width: 100px;
	height: 40px;
	color: white;
	font-size: 1.5rem;
	float: right;
}
.addButton:hover {
	background-color: #C33;
}
.favButton {
	background-color: black;
	border: none;
	width: 100px;
	height: 40px;
	color: white;
	font-size: 1.5rem;
	float: right;
	margin-left: 20;
}
.favButton:hover {
	background-color: #C33;
}
.contButton {
	background-color: black;
	border: none;
	width: 100px;
	height: 40px;
	color: white;
	font-size: 1.5rem;
	float: right;
	margin-left: 20;
}
.contButton:hover {
	background-color: #C33;
}
/*-------------------------------------------------------------*/

nav {
	height:70px;
	width:100%;
	background: #000;
}

nav .container {
	margin: 0 auto;
	padding: 10px 25px;
	max-width: 960px;
	position:relative;
}

#logo {
	max-width:86px;
	float:left;
}
#nav_links {
	margin-top: 16px;
	float:right;
}
#nav_links a{
	font-size:1.4rem;
	color: #fff;
	font-weight:bold;
	margin-left: 16px;
}
#nav_links a:hover{
	font-size:1.5rem;
	color: #C33;
	font-weight:bold;
	margin-left: 18px;
}

#product_image {
	height: 100%;
	display: ;
}

/*-------------------------------------------------------------*/

#menu {
	padding: 30px 25px;
}

/*-------------------------------------------------------------*/

#order {
	padding: 30px 25px;
}
	.order_title {
	width: 100%;
	background: rgba(51,51,51,.8);
	color:#fff;
	margin-bottom:4px;
	padding:5px 11px;
	font-size:13px;
	}
	.order_item {
	width: 100%;
	background: rgba(51,0,0,.8);
	color:#fff;
	margin-bottom:4px;
	padding:14px 11px;
	}
	
	.right 	{
	float:right;
	}

/* -----------------------Footer----------------------- */

.footer_section {
	padding-top: 40px;
}

footer {
	height:70px;
	width:100%;
	background: #000;
	color: white;
	padding: 10px 0;
	text-align: center;
}

/* -----------------------About Page----------------------- */
#aboutBlurb {
	float: left;
	margin-left: 2rem;
}
.blackNav{
	display: inline-block;
	background-color: black;
	color: white;
	padding: 1rem 1.25rem;
	text-decoration: none;
	width: 100%;
}

/* --------------------------Form-------------------------- */
form {
	float:left;
	font-size: 1.5rem;
	text-align: left;
}

/* ------------------------location------------------------ */
#loc1 {
	display: inline;
}